@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: linear-gradient(to bottom, #0033CC, #0865FF, #00C6FF);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;;
  width: 80vw;
  height: 80vh;
  margin: auto;
  padding: 0;
  gap: 40px
  
}

/* --- Bên trái --- */
.left-section {
  flex: 0 0 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: auto;
  height: 25%;
  object-fit: contain;
}
.illustration{
  width: auto;
  height: 75%;
  object-fit: contain;
}

/* --- Bên phải --- */
.right-section {
  flex: 0 0 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.75);
  padding: 40px;
  border-radius: 20px;
  width: 100%;
  height: 80vh;
  text-align: center;
  box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.25);
}

.login-form h1 {
  color: #0033CC;
}

.error {
  color: #FF6600;
  font-size: large;
}

.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #FFFFFF;
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #BFBFBF;
  margin-bottom: 15px;
}

.input-group input {
  height: 40px;
  display: flex;
  flex: 1;
  border: none;
  font-size: large;
}
.input-group img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
}

.forgot {
  color: #003399;
  text-decoration: none;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background: linear-gradient(0deg, #FF6B00, #FFB200);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s;
}

.login-btn:hover {
  transform: scale(1.05);
}

.register {
  font-size: 14px;
}

.register a {
  color: #005CFF;
  text-decoration: none;
  font-weight: 600;
}
