.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerLeft {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #0033CC;
}
.headerLeft img {
  width: auto;
  height: 60px;
  border-radius: 50%;
  object-fit: contain;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}
.headerRight, .searchArea, .buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.searchArea {
  background-color: #FFFFFF;
  padding: 10px 15px;
  border-radius: 30px;
}
.searchArea img {
  width: auto;
  height: 30px;
  object-fit: contain;
}

.searchArea input {
  height: 40px;
  border: none;
  outline: none;
  width: 220px;
  font-size: 1rem;
}

.iconBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}