.sidebar {
  width: 20%;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}
.logo {
  text-align: center;
}

.logo img {
  width: 100%;
  padding: 20px;
}
/* Menu */
.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu a {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: #0033CC;
  font-weight: bold;
  font-size: 1rem; /* 16px */
  padding: 10px;
  border-radius: 10px;
  transition: background 0.2s, color 0.2s;
}

.menu a .icon-hover {
  display: none;
}

.menu a:hover,
.menu a.active {
  background-image: linear-gradient(180deg, #0033CC, #0865FF);
  color: white;
}

.menu a:hover .icon-default,
.menu a.active .icon-default {
  display: none;
}

.menu a:hover .icon-hover,
.menu a.active .icon-hover {
  display: inline;
}
.spacer {
  flex-grow: 1;
}

/* User Info */
.userInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #E0E9FF;
  padding: 10px;
  border-radius: 10px;
}

.profile img {
  width: auto;
  height: 40px;
  border-radius: 50%;
}

.logout {
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #FF6B00, #FFB200);
  padding: 10px;
  gap: 20px;
  border-radius: 10px;
  color: white;
  font-size: 1.125rem; /* 18px */
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
}

.logout:hover {
  transform: scale(1.05);
}
.logout img {
  width: auto;
  height: 40px;
  object-fit: contain;
}
